*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: top 0.3s ease;
}
.nav img{
    width: 150px;
    height: 90px;
}
.hamburger img{
    display: none;
    width: 25px;
    height: 25px;
}
.nav ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.5s ease;
}
.nav ul li a:hover{
    color: #ffd700;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.image-box{
    position: relative;
    flex: 1;
}
.image-box img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.image-box img:hover{
    transform: scale(1.05);
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}
.text:hover{
    color: #ffd700;
}
.booking-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.booking-btn a button{
    margin-top: 5rem;
    border: none;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    background: #eed234;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
}
.booking-btn a button:hover{
    background: black;
}
.about-section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
}
.about-section img{
    width: 30%;
    height: auto;
    object-fit: cover;
}
.about-text{
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.about-text h1{
    font-size: 36px;
    margin-bottom: 1rem;
}